.ui {
    h1.ui.header {
        animation: App-logo-float infinite 3s ease-in-out;
        font-size: 40px;
    }
    &.input {
        height: 50px;
    }
    &.primary.button {
        margin-left: 20px;
    }
}

@keyframes App-logo-float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0px);
    }
}