.insights {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    height: 100%;

    header {
        background: #4076B0;
        display: flex;
        flex-direction: column;
        height: 85px;

        .title {
            color: white;
            height: 50px;
            line-height: 50px;
            text-align: center;
            font-size: 20px;
            padding-top: 5px;
        }

        nav {
            display: flex;
            flex: 1;
            justify-content: space-around;
            padding-bottom: 2px;
            height:33px;
            a {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
                span {
                    font-size: 16px;
                    color: white;
                }
                div {
                    height: 5px;
                }

                &.active {
                    div {
                        background: white;
                    }
                }
            }
        }
    }

    & > .content {
        display: flex;
        justify-content: stretch;
        align-items: stretch;
        flex-direction: column;
        overflow-y: auto;
    }
}