.card-content {
  border-radius: 5px;
  background: #ffffff;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;

  .panel1 {
    background-color: white;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;

    .rep-content {
      .p1-header {
        height: 30px;
        background-color: #80baf2;
        text-align: left;
        font-size: 14px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-indent: 0.5em;
        margin: 0px 0px 10px 0px;
      }

      .sub-title {
        background: #dfdede;
        height: 25px;
        line-height: 25px;
        display: block;
        padding-left: 10px;
      }

      .l-span {
        background-color: white;
        font-size: 12px;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin-top: 5px;
        color: #dfb878;
      }

      li {
        margin-bottom: 10px;
      }
    }

    ul {
      margin: 10px 0;

      li {
        line-height: 25px;
      }
    }

    .doctor-link {
      color: #4e73bd;
      text-decoration: underline;
      font-weight: bold;
    }

    .panel2 {
      background-color: #e0ebf6;
      font-size: 14px;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      padding: 0 10px;
      border-radius: 4px;
      height: 0;

      .p-header {
        color: #4e75b7;
        font-size: 16px;
        font-weight: bold;
        margin: 10px 0;
      }

      & > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 5px;

        &:last-child {
          margin-bottom: 5px;
        }

        span {
          &:last-child {
            font-weight: bold;
            font-size: 14px;
          }
        }

        p {
          &:last-child {
            margin: 5px 0px 15px 10px;
            font-weight: 500;
            font-size: 14px;
          }
        }
      }
    }
    .aline {
      background-color: #d6dde5;
      height: 1px;
    }
    .dot-line {
      border: 1px dashed #cdcdcd;
      margin-bottom: 10px;
    }
  }

  hr {
    height: 1px;
  }

  .row-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: auto;

    & > p {
      font-size: 15px;
      line-height: 25px;
      color: #000000;
    }
  }
  .item {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & > div {
      display: flex;
      flex-direction: row;
      align-items: center;

      span {
        &:last-child {
          color: #000000;
          font-size: 17px;
          font-weight: bold;
        }
      }
    }
  }

  .icon {
    width: 45px;
    height: 45px;
    display: block;
    background-image: url("../../assets/rep-white.png");
    background-size: contain;
    margin-right: 10px;
  }
  .icon-rep-blue {
    width: 40px;
    height: 40px;
    display: block;
    margin-right: 10px;
    background-image: url("../../assets/rep-blue.png");
    background-size: contain;
  }
  .icon-arrow-down {
    width: 30px;
    height: 30px;
    display: block;
    background-image: url("../../assets/arrow-right.png");
    background-size: contain;
  }
  .btn-spread {
    background-color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    color: #5d7bbc;
    border-radius: 50px;
    border: 1px solid #5d7bbc;
    height: 25px;
    width: 70px;
    text-align: center;

    &.expand {
      background-color: #4e73bd;
      color: white;
    }
  }

  .icon-fdb {
    width: 25px;
    height: 25px;
    display: block;
    background-image: url("../../assets/feedback.png");
    background-size: contain;
    margin-right: 5px;
    border: none;
  }

  .icon-close {
    width: 20px;
    height: 20px;
    display: block;
    background-image: url("../../assets/close.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
  }

  .panel {
    background-color: red;
    font-size: 15px;
    height: 50px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .left {
    width: 49%;
  }
  .right {
    width: 49%;
    text-align: right;
  }
}
