.suggestion {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  height: 100%;

  header {
    background: #4076b0;
    color: white;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
  }

  & > .content {
    flex: 1;
    overflow-y: auto;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
  }

  .cards {
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    flex: 1;
  }

  .pop-panel {
    display: none;
    position: absolute;
    width: 90%;
    height: 260px;
    border: 2px solid #dcebfb;
    background-color: white;
    z-index: 1002;
    overflow: auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    .pop-content {
      display: flex;
      flex-direction: column;
      font-size: 15px;

      .close-bar {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 20px;

        & > button {
          background-color: white;
          border: none;
        }
      }

      .pop-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 40px;
      }

      .btn-submit {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 20px;
        margin-top: 10px;

        & > button,
        input {
          border: none;
        }
      }

      & > form {
        display: flex;
        flex-direction: column;
        margin-left: 30px;

        & > button,
        input {
          margin-right: 5px;
        }
      }

      li {
        list-style: none;
      }
    }
  }

  .pop-hide-panel {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.4;
    opacity: 0.4;
    filter: alpha(opacity=88);
  }
}
