.hospital-insights {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: 15px 10px;

    .fragment {
        display: flex;
        flex-direction: column;

        .fragment-title {
            color: #4468B1;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-left: 5px;

            .title {
                display: flex;
                flex-direction: row;
                align-items: center;
                span {
                    &:first-child {
                        width: 5px;
                        height:23px;
                        background: #4468B1;
                    }
                    &:last-child {
                        font-size: 16px;
                        font-weight: bold;
                        margin-left: 5px;
                        height: 25px;
                        line-height: 25px;
                    }
                }
            } 

            .rep-select {
                font-size: 16px;
            }
        }
    }

    .selection {
        bottom: 55px;
        left: 0;
        position: fixed;
        display: none;
        font-size: 16px;
        width: 100%;
        background: white;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px -5px 10px #888888;

        &.visible {
            display: flex;
        }
        

        .title {
            font-size: 16px;
            font-weight: bold;
            height: 25px;
            line-height: 25px;
            color: #4468B1;
            margin-top: 10px;
            margin-bottom: 5px;
        }

        ul {
            margin: 0;
            padding: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;


            li {
                list-style: none;
                height: 50px;
                line-height: 50px;
                text-align: center;
                justify-content:center;
                
                &.active,
                &:hover {
                    color: #4468B1;
                    font-size: 20px;
                    font-weight: bold;
                    background: #dde3f0;
                }
            }
        }
    }
}