.hospital-item {
  background: white;
  border-radius: 4px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    height: 100px;
    flex-direction: row;
    border-radius: 4px;
    overflow: hidden;

    .picture {
      width: 110px;
      height: 105px;
      background-image: url("../../assets/hospital.png");
      background-size: cover;
      background-repeat: no-repeat;
      margin: -4px;
    }

    .brief {
      flex:1;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px;

      .brief-left {
        flex: 1;
        font-size: 16px;
        display:flex;
        flex-direction: column;
        padding-left: 5px;

        span {
          font-size: 12px;
          margin-bottom: 10px;
          color: #747475;
          &:first-child {
            color: black;
            font-size: 16px;
            font-weight: bold;
          }
        }
      }

      .brief-right {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50px;

        span {
          color: #747475;
          margin-bottom: 5px;
          font-size: 13px;

          &:nth-child(2) {
            width: 30px;
            height: 30px;
            background-image: url("../../assets/rep.png");
            background-size: 30px;
          }
          &:last-child{
            margin-bottom: 0;
          }
        }

        .exp-col-btn {
          color: #4468B1;
          font-size: 12px;
          border-radius: 10px;
          border: 1px solid #4468B1;
          width: 55px;
          display: block;
          text-align: center;

          &.expand {
            background-color: #4468B1;
            color: white;
          }
        }
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    overflow: hidden;
    height:0;

    .content-title {
      margin: 0;
      font-size: 16px;
      color: white;
      background: #7f96ca;
      height: 35px;
      line-height: 35px;
      padding-left: 15px;
      margin-top: 10px;
    }

    .content-item {
      padding: 10px 0;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid #d9d7d7;

      &:last-child {
        border-bottom: 0;
      }
    }

    .item-title {
      font-size: 14px;
      font-weight: bold;
      color: #4468B1;
    }

    .item-content {
      font-size: 14px;
      display: flex;
      flex-direction: column;
      margin-top: 5px;

      & > div {
        display: flex;
        flex-direction: row;
        margin-top: 10px;

        span {
          &:first-child {
            width: 150px;
            margin-right: 5px;
          }
          &:last-child {
            flex: 1;
          }
        }
      }
    }

    .search {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 10px;

      a { 
        font-size: 14px;
        border-radius: 20px;
        height: 30px;
        line-height: 25px;
        background: #4468B1;
        color: white;
        padding: 0 25px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .search-icon {
          background: url("../../assets/search.png");
          background-size: contain;
          width: 20px;
          height: 20px;
          margin-right: 5px;
        }
      }
    }
  }
}
