.domain-insights {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: 15px 10px;

  .safari-style {
    -webkit-overflow-scrolling: touch;
    overflow: auto !important;
  }

  .fragment {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }

    .fragment-title {
      color: #4468b1;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 5px;

      span {
        &:first-child {
          width: 5px;
          height: 23px;
          background: #4468b1;
        }
        &:last-child {
          font-size: 16px;
          font-weight: bold;
          margin-left: 5px;
        }
      }
    }

    .fragment-content {
      background: white;
      border-radius: 4px;
      margin-top: 10px;
      padding: 0 10px;

      hr {
        border: 0;
        height: 1px;
        background: #d9d7d7;
        margin: 0;
      }
    }

    .item {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      height: 45px;

      & > div {
        display: flex;
        flex-direction: row;
        align-items: center;

        span {
          &:first-child {
            color: #4468b1;
            font-weight: bold;
          }

          &:last-child {
            color: #4468b1;
            font-size: 10px;
          }
        }
      }
    }

    .xs {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 85px;
      padding: 0px;

      .xs-item {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex: 1;

        & > span {
          &:first-child {
            font-size: 24px;
            font-weight: bold;
            color: #4468b1;
            margin-bottom: 10px;
          }
          &:last-child {
            margin-left: 10px;
            font-size: 11px;
            color: #b8b8b8;
            text-align: center;
          }
        }

        &:last-child {
          .rank {
            color: #f4bd54;
            span:nth-child(odd) {
              font-size: 16px;
            }
          }
        }
      }

      hr {
        margin: 0;
        height: 40px;
        width: 1px;
        border: 0;
        background: #d9d7d7;
      }
    }

    .jy {
      .jy-item {
        &.special {
          height: 65px;
          & > span {
            margin-bottom: 20px;
          }
          & > div {
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            margin-right: 15px;
            span {
              &:last-child {
                color: #4468b1;
                font-size: 11px;
                margin-top: 5px;
                font-weight: normal;
              }
            }
          }
        }

        & > div {
          span {
            margin-right: 8px;
            &:last-child {
              color: #b8b8b8;
              font-weight: bold;
              font-size: 14px;
            }
          }
        }
      }
    }

    .zx1 {
      .zx1-item {
        height: 65px;
        margin-right: 10px;

        & > span {
          margin-bottom: 20px;
        }

        & > div {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: center;

          span {
            color: #98c663;
            &:last-child {
              margin-top: 5px;
            }
          }
        }
      }
    }

    .zx2 {
      .zx2-item {
        height: 65px;
        > span {
          margin-bottom: 20px;
          margin-top: 10px;
          width: 160px;
          margin-right: 5px;
        }

        > div {
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          margin-right: 5px;

          span:last-child {
            margin-top: 5px;
          }
        }
      }
    }

    .xn {
      .xn-item {
        div {
          margin-right: 10px;
        }
      }
    }
  }
}
