.doctor-item {
  height: auto;
  .item-header {
      background: #7f96ca;
      height: 40px;
      font-size: 18px;
      color: white;
      margin-top: 10px;
      line-height: 40px;
      padding-left: 15px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .exp-col-btn { 
        background-size: contain;
        width: 22px;
        height: 23px;
        margin-right: 10px;

        &.expand-icon {
          background-image: url("../../assets/arrow-down.png");
        }
        &.collapse-icon {
          background-image: url("../../assets/arrow-right.png");
        }
      }

      &.light-blue {
        background: #7f96ca;
      }
      &.green-yellow {
        background: #b4cd89;
      }
  }

  .item-content {
    margin: 5px;
    height: auto;
    overflow: hidden;

    .overview {
      border-radius: 4px;
      border: 1px solid #7f96ca;
      display: flex;
      flex-direction: column;
      font-size: 14px;
      height: auto;

      .overview-title {
        color: #4c76ab;
        font-weight: bold;
        padding: 10px;
        padding-bottom: 0;
      }

      .overview-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 12px;
        margin: 0 10px;
        padding: 10px 0;
        border-bottom: 1px solid #d9d7d7;

        &:last-child {
          border-bottom: 0;
        }

        .left {
          width: 130px;
          margin-right: 20px;
        }
        .right {
          display: flex;
          flex:1;
          flex-direction: column;
          align-items: flex-end;
        }
      }
    }

    .detail {
      display: flex;
      flex-direction: column;
      height: auto;
      font-size: 14px;

      .detail-title {
        background: #e0ebf6;
        height: 40px;
        line-height: 40px;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding:0 10px;
        margin-top: 10px;

        span {
          margin-right: 10px;
          &:first-child {
            background: url("../../assets/rep-blue.png");
            background-size: contain;
            width: 25px;
            height: 25px;
            margin-right: 15px;
          }
        }
      }

      .detail-content {
        margin: 10px;

        .detail-item {
          display: flex;
          flex-direction: column;
          border-bottom: 1px solid #d9d7d7;
          padding-bottom: 10px;

          &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
            padding-top: 10px;
          }

          span {
            &:first-child {
              font-weight: bold;
              margin-bottom: 10px;
            }
            &:last-child {
              font-size: 12px;
            }
          }
        }

      }
    }

  }
}
