.app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
  background: #DFDEDE;

  .body {
    flex: 1;
    overflow-y: auto;
  }

  .main-menu {
    height: 55px;
    background: white;
    display:flex;
    justify-content: center;
    align-items: stretch;

    .spliter {
      display: block;
      width: 1px;
      background: #DFDEDE;
      margin: 5px 0;
    }

    a {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex: 1px;

      .icon {
        width: 30px;
        height: 30px;
        display: block;
        background-image: url("assets/menu.png");
        background-size: 30px;
      }

      .title {
          margin-left: 10px;
          font-size: 20px;
          color: #A6A6A7;
      }

      &.active {
        .icon {
          background-image: url("assets/menu-active.png");
        }
        
        .title {
          color: #4D72BE;
        }
      }
    }
  }
}