.doctor-insights {
    display: flex;
    justify-content: stretch;
    font-size: 30px;
    padding: 15px 10px;

    .fragment-item {
        background: white;
        flex: 1;
        display: flex;
        flex-direction: column;
        border-radius: 4px;
    }

    .header {
        display: flex;
        height: 100px;
        flex-direction: row;
        border-radius: 4px;
        overflow: hidden;
    
        .picture {
          width: 110px;
          height: 105px;
          background-image: url("../../assets/hospital.png");
          background-size: cover;
          background-repeat: no-repeat;
          margin: -4px;
        }
    
        .brief {
            flex:1;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 10px;
    
            .brief-left {
                flex: 1;
                font-size: 14px;
                display:flex;
                flex-direction: column;
                padding-left: 5px;
        
                span {
                    font-size: 12px;
                    margin-bottom: 10px;
                    color: #747475;
                    &:first-child {
                        color: black;
                        font-size: 16px;
                        font-weight: bold;
                    }
                }
            }
    
            .brief-right {
                font-size: 16px;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 35px;
        
                span {
                    color: #747475;
                    margin-bottom: 5px;
                    font-size: 13px;
            
                    &:nth-child(1) {
                        width: 30px;
                        height: 30px;
                        background-image: url("../../assets/rep.png");
                        background-size: 30px;
                    }
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .content {
        height: auto;

        
    }
}